.app_dark_theme {
  --main-color: #fafafa;
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --color-text-second: #9b9b9b;
  --color-text-add: #7a7878;
  --color-header-inverted: #2c2b2b;
  --color-text-inverted: #3b3a3a;
  --color-overlay: rgba(47, 47, 47, 0.9);
  --modal-overlay: rgba(47, 47, 47, 0.9);
  --mobile-menu-color: #9d9795;
  --gradient-color: linear-gradient(45deg, #fbfbfc 33%, #747375 66%, #1f1f1f);
  --my-background-image: url("src/shared/assets/images/bg.jpg");
}