.app_light_theme {
  --main-color: #414040;
  --color-header: #444443;
  --color-text: #414040;
  --color-text-second: #282828;
  --color-text-add: #7a7878;
  --color-text-inverted: #eae9e9;
  --color-header-inverted: #dcdbdb;
  --color-header-dark: #f4efec;
  --color-text-dark: #cdc6c3;
  --mobile-menu-color: #cdc6c3;
  --color-overlay: rgba(210, 207, 207, 0.9);
  --modal-overlay: rgba(19, 19, 19, 0.9);
  --gradient-color: linear-gradient(45deg, #1f1f1f 33%, #747375 66%, #dcdbdb);
  --my-background-image: url("src/shared/assets/images/white-brick.png");

  
}